body {
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
    background: linear-gradient(to right, #eef2f3, #8e9eab); 
    margin: 0;
}

li {
    height: 50px;
}

li :hover { 
    text-decoration: none;
    background-color: #4aaaa5;
}



/* .text-secondary {
    color: white;
}

a.text-secondary:hover {
    color: white;
}

a.text-secondary:focus, a.text-secondary:hover {
    color: white;
} */

.navbar {
    border-bottom: 2px solid #cccccc;
    height: 50px;
    margin: 0 auto;
    padding-left: 25%;
}

.navbar-brand {
    background-color: #4aaaa5;
    height: 50px;
    
}

#footer {
    margin-top: 60px;
    padding-top: 30px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: #cccccc;
}